secret.sh
validator_prep
*.tar.gz
selected_validator_keys
.idea
custom_config.data.tar.gz
vars.env
vendor
mnemonics.yaml
scripts/venv
pithos-testnet/secret.sh
pithos-testnet/mergenet.yaml
pithos-testnet/custom_config_data/venv
backups
explorerdata
mergenet.yaml
dshackle.yml
precomp
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.DS_Store
