global:
  evaluation_interval: 15s
  scrape_interval: 15s
  scrape_timeout: 10s

  external_labels:
    testnet: "{{ eth2_network_name }}"

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - /home/devops/alertmanager/alert.rules
  - /etc/prometheus/rules/ansible_managed.rules

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: node
    static_configs:
    - labels:
        instance: "{{ ansible_hostname }}"
      targets:
      - localhost:9100
  - job_name: geth_node
    metrics_path: /debug/metrics/prometheus
    static_configs:
{% for host in groups['all'] %}
      - targets: ['{{ hostvars[host].ansible_host }}:6060']
        labels: {'instance': '{{ hostvars[host].inventory_hostname }}' }
{% endfor %}
