baseURL: https://condrieu.ethdevops.io
languageCode: en-us
title: {{ eth2_network_name }}
theme: PaperMod

markup:
  highlight:
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: false
    # noClasses: false
    style: monokai

params:
  disableThemeToggle: true
  defaultTheme: dark
  ethereum:
    ethstatsUrl: https://ethstats.condrieu.ethdevops.io
    explorerUrl: https://explorer.condrieu.ethdevops.io
    faucetUrl: https://faucet.condrieu.ethdevops.io
    rpcUrl: https://rpc.condrieu.ethdevops.io
    beaconexplorerUrl:
    consensusmonitorUrl:
    chainName: "{{eth2_network_name}}"
    chainId: "{{chainID}}"

menu:
  main:
    - identifier: ethereum-website
      name: ethereum.org
      url: https://ethereum.org
      weight: 30

disableKinds: ["taxonomy", "taxonomyTerm"]

copyright: "Long live the merge."
