baseURL: https://beverlyhills.ethpandaops.io
languageCode: en-us
title: {{ eth2_network_name }}
theme: PaperMod

markup:
  highlight:
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: false
    # noClasses: false
    style: monokai

params:
  disableThemeToggle: true
  defaultTheme: dark
  ethereum:
    explorerUrl: https://ethpandaops.io
    ethstatsUrl: https://ethstats.beverlyhills.ethpandaops.io
    faucetUrl: https://faucet.beverlyhills.ethpandaops.io
    rpcUrl: https://rpc.beverlyhills.ethpandaops.io
    forkmonUrl: https://forkmon.beverlyhills.ethpandaops.io
    chainName: "{{eth2_network_name}}"
    chainId: "{{chainID}}"
  metamask:
    enabled: true

  links:
  - name: "Ethstats"
    dataLookup: ethstatsUrl
  - name: "forkmon"
    dataLookup: forkmonUrl
  - name: "Faucet"
    dataLookup: faucetUrl
  - name: "JSON RPC"
    dataLookup: rpcUrl

  # additionalLinks:
  # - name: "Launchpad"
  #   url: "https://kiln.launchpad.ethereum.org"

menu:
  main:
    - identifier: ethereum-website
      name: ethereum.org
      url: https://ethereum.org
      weight: 30

disableKinds: ["taxonomy", "taxonomyTerm"]

copyright: "Long live the verge."

